@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-mulish;
  }

  h1 {
    @apply font-LDRKaet text-[27px] text-center uppercase md:text-[40px] lg:text-[50px] mb-[16px] mt-[16px];
  }
}

@layer components {
  .form_invalid_message {
    @apply text-[red] text-[12px];
  }

  .bubble_right {
    position: relative;
    display: inline-block;
    padding: 19px;
    background-color: #e6e5e5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px;
    word-break: break-all;
    width: 100%;
    min-width: 100px;
  }

  .bubble_right::before {
    content: '';
    position: absolute;
    padding: 15px 17px;
    bottom: -30px;
    right: 20px;
    background-color: #e6e5e5;
    border-bottom-left-radius: 50px 45px;
  }

  .bubble_right::after {
    content: '';
    position: absolute;
    padding: 15px 15px;
    bottom: -30px;
    right: 5px;
    background-color: white;
    border-bottom-left-radius: 30px 20px;
  }

  .bubble_left {
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: #e6e5e5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    word-break: break-all;
    width: 100%;
  }

  .bubble_left::before {
    content: '';
    position: absolute;
    padding: 15px 17px;
    bottom: -30px;
    left: 20px;
    background-color: #e6e5e5;
    border-bottom-right-radius: 50px 45px;
  }

  .bubble_left::after {
    content: '';
    position: absolute;
    padding: 15px 15px;
    bottom: -30px;
    left: 5px;
    background-color: white;
    border-bottom-right-radius: 30px 20px;
  }
}

textarea {
  resize: none;
}
